<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://api-maps.yandex.ru">
    <link rel="dns-preferent" href="https://api-maps.yandex.ru">
    <link href="{% static 'assepts/app.c3eea79a.css' %}" rel="stylesheet">
</head>

<body>
    <div class="root flex-dir-col" id="renderer"></div>
    <script src="{% static 'assepts/runtime~app.c3eea79a.js' %}"></script>
    <script src="{% static 'assepts/npm.react-redux.2835f62d.js' %}"></script>
    <script src="{% static 'assepts/npm.react-dom.ca63d8ca.js' %}"></script>
    <script src="{% static 'assepts/app.acdfe85a.js' %}"></script>
</body>

</html>