<!doctype html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://api-maps.yandex.ru">
    <link rel="dns-preferent" href="https://api-maps.yandex.ru">
    <link href="{% static '/assepts/app.9ed067f1.css' %}" rel="stylesheet">
</head>

<body>
    <div class="root flex-dir-col" id="renderer"></div>
    <script src="{% static '/assepts/runtime~app.9ed067f1.js' %}"></script>
    <script src="{% static '/assepts/npm.react-redux.9d4ec061.js' %}"></script>
    <script src="{% static '/assepts/npm.react-dom.12dc8481.js' %}"></script>
    <script src="{% static '/assepts/app.f0a86770.js' %}"></script>
</body>

</html>